body {
    background: linear-gradient(270deg, #ff23d7, #5750ff);
}

a {
    color: #000 !important;
    text-decoration: none;
}

.divv {
    
     /*margin-left: 600px;
    text-align: center;
    width: 600px;
    font-size: 60px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.096); */

    background-color: rgba(0, 0, 0, 0.096);
    font-size: 50px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
}
.divmain {
    background-color: rgba(0, 0, 0, 0.096);
    font-size: 50px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin-left: 700px;
    margin-right: 750px;
    margin-top: 20px;
}

.div1:hover {
    background-color: rgba(0, 0, 0, 0.219);
    cursor: pointer;
}

.div2:hover {
    background-color: rgba(0, 0, 0, 0.219);
    cursor: pointer;
}

.div3:hover {
    background-color: rgba(0, 0, 0, 0.219);
    cursor: pointer;
}

.div4:hover {
    background-color: rgba(0, 0, 0, 0.219);
    cursor: pointer;
}

.div5:hover {
    background-color: rgba(0, 0, 0, 0.219);
    cursor: pointer;
}

.div6:hover {
    background-color: rgba(0, 0, 0, 0.219);
    cursor: pointer;
}