body {
    background: linear-gradient(270deg, #ff23d7, #5750ff);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a:link {
    text-decoration: none;
}

.divv {
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.096);
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

caption {
    font-size: 24px;
    margin: 10px 0;
}

tr.item1 {
    background-color: #3498db;
    color: white;
}

td {
    padding: 10px;
}

.numbers {
    font-weight: bold;
}

.test {
    font-style: italic;
}

@media (max-width: 500px) {
    tr {
        display: block;
        margin-bottom: 10px;
    }

    tr.item1 {
        background-color: transparent;
    }
}

