body {
    background: linear-gradient(270deg, #ff23d7, #5750ff);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.divv {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.096);

    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: white;
}

.divv1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    color: aliceblue;
}

.round {
    box-shadow: inset 1px 1px 3px rgba(154, 147, 140, 0.5), 1px 1px 5px black;
    width: 30em;
    height: 20em;
    border: 2px solid black;
    background-color: white;
    background-image: radial-gradient(circle closest-corner at 50% 50%, red 40%, transparent 40%);



    margin: 0 auto;
  }